.businessPartners{
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: inset 1.5vw 0 0 #d12635;
}

.businessPartnersText{
    text-align: center;
    margin-top: 50px;
    font-size: 45pt;
}

.imgContainerBusiness{
    width: 100vw;
    height: auto;
    display: flex;
}

.image1{

}

.image2{
    isplay: flex;
    justify-content: center;
    align-items: center;
}

.image3{
    
}

@media only screen and (max-width : 500px) {
    .imgContainerBottom{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        position: relative;
    }
    
    .businessPartnersText{
        font-size: 35pt;
    }
}