.navbar {
  height: 13vh;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5%;
  background-color: rgba(255, 251, 251, 0.9);
  position: fixed;
  top: 0;
  z-index: 999;
}

.navLeft {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navRight {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navLeft {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navRight {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 30px;
}

.brandLogo {
  width: 50px;
  height: 50px;
}

.textbrand {
  width: auto;
  height: 100%;
  font-size: 10pt;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

.navRight h3 {
  font-size: 12pt;
  margin-right: 25px;
  cursor: pointer;
}

.navSearch {
  width: 250px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
